<div>
  <select (change)="cambioDatos($event.target.value, true)">
    <option *ngFor="let element of padres" [value]="element.id">
      {{element.nombre}}
    </option>
  </select>
</div>
<div>
  <select (change)="cambioDatos($event.target.value, false)">
    <option *ngFor="let elemento of hijos" [value]="elemento.id">
      {{elemento.nombre}}
    </option>
  </select>
</div>
<div>
  <select>
    <option *ngFor="let elemento of nietos" [value]="elemento.id">
      {{elemento.nombre}}
    </option>
  </select>
</div>
